<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Chat App using Node Mongo and SocketIO</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"  type="text/css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"  type="text/css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h2><span class="fa fa-lock"></span> Chat App using Node Mongo and SocketIO</h2>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        </div>
    </div>
</body>
</html>
