<!doctype html>
<html>
	<head>
		<title>Chat App using Node Mongo and SocketIO</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"  type="text/css">
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"  type="text/css">
		<style>
			body {
				padding-top: 80px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="col-sm-6 col-sm-offset-3">
				<h1><span class="fa fa-sign-in"></span> Login</h1>

				<!-- show any messages that come back with authentication -->
				<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>

				<!-- LOGIN FORM -->
				<form action="/login" method="post">
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" name="username">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password">
					</div>
					<button type="submit" class="btn btn-success btn-lg">Login</button>
				</form>
				<hr>
				<p>Create an account? <a href="/signup">Signup</a></p>
			</div>
		</div>
	</body>
</html>
